body, html{
	margin: 0px;
	height: 100%;
	overflow-y: hidden;
}

a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

a:hover{
    color: blue;
    background: orange;
    box-shadow: 0 0 10px #2196f3, 0 0 80px #2196f3;
}